@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}
.font-family-inter{
    font-family: 'Inter', sans-serif;
}
/* colors */
.header-bg{
   background-color:  #1A0B2E;
}
.why-bg{
    background-color: #230E3D;
}
.footer-bg-img{
    background: url('../assets/footer-bg.png') no-repeat center center/cover;
}


.btn-gradient{
    background: linear-gradient(135deg, #eaea09, #c81bab, #8905a760);
    color: white;
    margin: 5px;
    padding: 10px 25px;
    border-radius: 50px;
   
}
.btn-outline{
    border: 2px solid rgb(153, 255, 0);
    color: rgb(6, 255, 6);
   
    margin: 5px;
    padding: 10px 25px;
    border-radius: 50px;
  }

.btn-gradient,
.btn-outline{
    transition: 
      background-color 0.3s ease,
      color 0.3s ease,
      transform 0.2s ease;
}

/* Gradient button hover */
.btn-gradient:hover{
    transform: translateY(-1px);
    opacity: 0.9;
    cursor: pointer;
}

/* Outline button hover */
.btn-outline:hover{
    background-color: rgb(153, 255, 0);
    color: black;
    transform: translateY(-1px);
    cursor: pointer;
}

  .bg-hero{
    background: url('../assets/hero-bg.png') no-repeat center center/cover;
  }
  .section-title{
    color: #ffffff;
    font-size: 46px;
    font-weight: 700;
    margin-bottom: 16px;
    }
    .stat-number{
        color: #5fed06;
        font-size: 26px;
        font-weight: 700;
        margin-bottom: 8px;
    }
    .stat-label{
        color: #FFFFFF;
        font-size: 16px;
    }
   
    .techwave-title{
        color: #FFFFFF;
        font-size: 60px;
        font-weight: 900;
        
    }
.feature-card{
    background-color: #230F4F;
;


}
.feature-card p{
    color: #CCCCCC;
    font-size: 16px;
    line-height: 2;
    padding: 5px;
    
    font-weight: 300;


}
  
.feature-card h4{
    
    font-size: 28px;
    font-weight: 700;
}
    @keyframes rotate45deg {
    0% {
    transform: rotate(-45deg);
  }
  50% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(-45deg);
  }
}

.animate-rotate-slow {
  animation: rotate45deg 2.5s ease-in-out infinite;
}

/* media query */

@media screen and (max-width: 576px) {
    .btn-gradient{
    background: linear-gradient(135deg, #eaea09, #c81bab, #8905a760);
    color: white;
    margin: 2px;
    padding: 8px 15px;
    border-radius: 50px;
   
}
.btn-outline{
    border: 1px solid rgb(153, 255, 0);
    color: rgb(6, 255, 6);
   
    margin: 2px;
    padding: 8px 15px;
    border-radius: 50px;
  }
    
    
}